@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  font-family: sans-serif;
  text-align: center;
}

hr {
  width: 340px;
  border-top: 0.7px solid rgba(205, 205, 205, 1);
}

.text {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 18.2px;
  text-align: left;
}
